---
---

@import "minima";

body {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 18px;
  line-height: 1.7;
}

.site-title,
.site-nav,
h1,
h2,
h3 {
  font-family: Georgia, "Times New Roman", serif;
}

.page-content {
  max-width: 760px;
}

a {
  color: #111 !important;
}

a:visited {
  color: #111 !important;
}

a:hover {
  color: #111 !important;
}

a:active {
  color: #111 !important;
}
