---
---

@import "minima";

body {
  font-family: Georgia, serif;
  font-size: 18px;
  line-height: 1.7;
}

.site-title,
.site-nav,
h1,
h2,
h3 {
  font-family: Georgia, serif;
}

.wrapper {
  max-width: 720px;
  margin: 0 auto;
}

a,
a:visited,
a:hover,
a:focus,
a:active {
  color: #111 !important;
}

