---
---

@import "minima";

body {
  font-family: Georgia, serif;
  font-size: 18px;
  line-height: 1.7;
}

.site-title,
.site-nav,
h1,
h2,
h3 {
  font-family: "Cormorant Garamond", serif;
}

.wrapper {
  max-width: 720px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  padding-left: 30px;
  padding-right: 30px;
}

.page-content .wrapper {
  max-width: 720px !important;
}

a,
a:visited,
a:hover,
a:focus,
a:active {
  color: #111 !important;
}
.footer-heading {
  display: none;
}
blockquote {
  font-size: 0.85em;
  font-style: italic;
  color: #555;
}
.epigraph {
  font-size: 0.85em;
  text-align: center;
  margin: 4rem 0 3rem 0;
  line-height: 1.7;
}
.epigraph-source {
  font-size: 0.75em;
  margin-top: 1rem;
  color: #555;
  opacity: 0.8;
}
.work-link {
    margin-top: 0rem;
    font-size: 0.75em;
}

.work-link a {
    color: #111 !important;
    text-decoration: none;
}

.work-link a:hover {
    text-decoration: underline;
}
.work-title {
  margin-bottom: 0.3rem;
}
.work-info {
  margin-top: 0;
  padding-top: 0.4rem;
  border-top: 1px solid #ddd;
  font-size: 0.75em;
   color: #555;
  line-height: 1.4;
}
